{% extends "base/base.html" %}
{% load static %}
{% block title %}{% if new %}Создание рецепта{% else %}Редактирование рецепта{% endif %}{% endblock %}
{% block css %} {% static 'pages/form.css' %} {% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{% if new %}Создание рецепта{% else %}Редактирование рецепта{% endif %}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'breakfast_tag' %}
                    <div class="form__group">
                        <p class="form__label">Теги</p>
                        <div class="form__field-group">
                            <div class="tags">
                                <div class="tags__item">
                                    <input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}" class="tags__checkbox tags__checkbox_style_orange" {% if field.value %}checked{% endif %}>
                                    <label for="{{ field.id_for_label }}" class="tags__label">{{field.label}}</label>
                                </div>
                    {% elif field.name == 'lunch_tag' %}
                                <div class="tags__item">
                                    <input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}" class="tags__checkbox tags__checkbox_style_green" {% if field.value %}checked{% endif %}>
                                    <label for="{{ field.id_for_label }}" class="tags__label">{{field.label}}</label>
                                </div>
                    {% elif field.name == 'dinner_tag'%}
                                <div class="tags__item">
                                    <input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}" class="tags__checkbox tags__checkbox_style_purple" {% if field.value %}checked{% endif %}>
                                    <label for="{{ field.id_for_label }}" class="tags__label">{{field.label}}</label>
                                </div>
                        </div>
                    </div>
                </div>
                {% elif field.name == 'ingredients' %}
                <div class="form__group">
                    <label for="nameIngredient" class="form__label">Ингредиенты</label>
                    <div class="form__field-group">
                        <div class="form__field-group-ingredientes">
                            <div class="form__dropdown">
                                <input type="text" id="nameIngredient" class="form__input">
                                <div class="form__dropdown-items"></div>
                            </div>
                            <input type="number" id="cantidad" class="form__input" min="0">
                            <label for="cantidad" class="form__label" id="cantidadVal"> шт.</label>
                        </div>
                        <div class="form__field-group-ingredientes-container">
                            {% for item in form.instance.ingredients.all %}
                            <div class="form__field-item-ingredient" id="ing_{{forloop.counter0}}">
                                <span>{{item.ingredient.name}} {{item.value}} {{item.ingredient.units}}</span>
                                <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{forloop.counter0}}" name="nameIngredient_{{forloop.counter0}}" type="hidden" value="{{item.ingredient.name}}">
                                <input id="valueIngredient_{{forloop.counter0}}" name="valueIngredient_{{forloop.counter0}}" type="hidden" value="{{item.value}}">
                                <input id="unitsIngredient_{{forloop.counter0}}" name="unitsIngredient_{{forloop.counter0}}" type="hidden" value="{{item.ingredient.units}}">
                            </div>
                            {% endfor %}                            
                        </div>
                        <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>                                                    
                        {% for error in field.errors %}
                        <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% elif field.name == 'description' %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{field.label}}</label>
                    <div class="form__field-group">
                        <textarea name="{{ field.name }}" id="{{ field.id_for_label }}" rows="8" class="form__textarea"></textarea>
                        {% for error in field.errors %}
                        <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% elif field.name == 'image' %}
                <div class="form__group">
                    {% if field.value %}
                    <span class="form__label">Текущее фото: {{field.value}}. Загрузить новое</span>
                    {% else %}
                    <span class="form__label">Загрузить фото</span>
                    {% endif %}
                    <div class="form__field-group">
                        <input type="file" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ form.instance.image }}">
                        {% for error in field.errors %}
                        <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                    {% else %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{field.label}}</label>
                    <div class="form__field-group">
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form__input" value={{field.value}}>
                        {% for error in field.errors %}
                        <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">{% if new %}Создать рецепт{% else %}Сохранить{% endif %}</button>
                {% if new == False %}
                    <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe_id=form.instance.id %}" class="form__ingredient-link">Удалить</a>
                {% endif %}
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>

<script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}