{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block css %} {% static 'pages/index.css' %}{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
        <ul class="tags">
            {% for item, value in filter.items %}
            <li class="tags__item">
                <a id="{{ item.slug }}" class="tags__checkbox tags__checkbox_style_{{ item.color }} {% if value == '1' %}tags__checkbox_active{% endif %}"
                href="{{ request.path }}?{% for url_item, url_value in filter.items %}{% if not forloop.first %}&{% endif %}{{ url_item.slug }}={% if url_item == item %}{% if url_value == '1' %}0{% else %}1{% endif %}{% else %}{{ url_value }}{% endif %}{% endfor %}"></a>
                <span class="tags__label">{{ item.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="card-list">
        {% for card in page %}
            {% include 'base/card.html' %}
        {% endfor %}
    </div>
    
    {% if page.has_other_pages %}
        {% include "base/paginator.html" with items=page paginator=paginator %}
    {% endif %}
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'index.js' %}"></script>
{% endblock %}

