{% extends "base/base.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
{% block css %} {% static 'pages/shopList.css' %}{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in shop_list %}
                {% include 'base/shop_list_card.html' %}
            {% endfor %}
        </ul>
        <a href="#"><button class="button button_style_blue">Скачать список</button></a>    
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'ShopList.js' %}"></script>
{% endblock %}
