{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block css %} {% static 'pages/single.css' %}{% endblock %}

{% block content %}
<main class="main container">
    <div class="single-card" data-id="{{ recipe.pk }}" data-author="{{ recipe.author.pk }}">
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="single-card__image">
        {% endif %}
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>
                {% if user.is_authenticated %}
                <div class="single-card__favorite">
                    {% if is_favoried %}
                    <button class="button button_style_none" name="favorites"><span
                            class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                    {% else %} 
                    <button class="button button_style_none" name="favorites" data-out><span
                            class="icon-favorite icon-favorite_big"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <ul class="single-card__items">
                {% for tag in recipe.tags.all %}
                <li class="single-card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                {% endfor %}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span>{{ recipe.time }} мин.</p>
                <ul class="single-card__items">
                    <li class="single-card__item">
                        <p class="single-card__text"><span class="icon-user"></span>{{ recipe.author }}</p>
                    </li>
                    {% if user.is_authenticated %}
                    {% if user.is_superuser or user == recipe.author %}
                    <li class="single-card__item"> <a style="margin-left: 2.5em" href="{% url 'edit_recipe' recipe_id=recipe.pk %}"
                            class="single-card__text">Редактировать рецепт</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <ul class="single-card__items">
                {% if is_in_shop_list %}
                <li class="single-card__item"><button class="button button_style_blue button_style_light-blue-outline" name="purchases">
                    <span class="icon-check button__icon"></span> Рецепт добавлен</button></li>
                {% else %}
                    <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span
                        class="icon-plus"></span> Добавить в покупки</button></li>
                {% endif %}
                <li class="single-card__item">{% include 'base/subscribeButton.html' %}</li>
            </ul>
            {% endif %}
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингридиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for item in recipe.ingredients_quantities.all %}
                        <p class=" single-card__section-item">{{ item.ingredient.name }} - {{ item.value }} {{ item.ingredient.units }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.description }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/InfoPopup.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'singlePage.js' %}"></script>
{% endblock %}