.info-popup {
    display: none;
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: calc(min(400px, 100% - 40px));
    background: rgba(73, 182, 78, 0.1);
    color: #49B64E;    
    padding: 10px 10px 0 10px;
    border-radius: 24px;
    }

.info-popup_visible {
    display: block;
}    

.info-popup__message {
    list-style-type: none;
    margin: 0 0 10px 0;
    text-decoration: none;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.22;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: -0.04em;
}
