{% extends "base/base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block css %} {% static 'pages/form.css' %}{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            <form class="form">
                {% csrf_token %}
                {% include 'base/form.html' %}
                <div class="form__footer">
                    <button class="button button_style_blue">Сбросить пароль</button>
                </div>
        </form>
    </div>    


</main>
{% endblock %}
