<div class="card" data-id="{{ card.pk }}">
    {% if card.image %}
        <a href="{% url 'recipe' recipe_id=card.pk %}" class="link" target="_blank"><img src="{{ card.image.url }}" alt="{{ card.name }}" class="card__image"></a>    
    {% endif %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe_id=card.pk %}" target="_blank">{{ card.name }}</a>
        <ul class="card__items">
            {% for tag in card.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ card.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'recipes_by_author' author_id=card.author.pk %}" style="color: black">{{ card.author }}</a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if card.is_in_shop_list %}
            <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
            {% else %}
            <button class="button button_style_light-blue" name="purchases" data-out><span
                class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
            {% if card.is_favoried %}
            <button class="button button_style_none" name="favorites"><span
                class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
            <button class="button button_style_none" name="favorites" data-out><span
                class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
</div>