<div class="card-list">
    <div class="card-user" data-author="{{follow.author.pk}}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{follow.author}}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in follow.author.recipes.all|slice:":3" %}
                    <li class="card-user__item">
                        <a class="recipe link" href="{% url 'recipe' recipe_id=recipe.pk %}" target="_blank">
                            {% if recipe.image %}
                            <img src="{{recipe.image.url}}" alt="{{ recipe.name }}" class="recipe__image">
                            {% endif %}
                            <h3 class="recipe__title">{{ recipe.name }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                        </a>
                    </li>
                {% endfor %}
                {% if follow.author.recipes.count > 3 %}
                    <li class="card-user__item">
                        <a href="{% url 'recipes_by_author' author_id=follow.author.pk %}" class="card-user__link link">Еще {{ follow.author.recipes.count}} рецептов...</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>    