<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% if items.has_previous %}
            <li class="pagination__item"><a class="pagination__link link" href="#"><span
                class="icon-left"></span></a></li>
        {% else %}
        <!-- добавить выключенный вариант -->
        <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
                {% if items.number == i %}
                <!-- добавить активность пагинатора -->
                <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li class="pagination__item"><a class="pagination__link link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <li class="pagination__item"><a class="pagination__link link" href="?page={{ items.next_page_number }}"><span class="icon-right"></span></a></li>
        {% else %}
            <!-- добавить выключенный вариант -->
            <li class="pagination__item disabled"><a class="pagination__link link" href="?page={{ items.next_page_number }}"><span class="icon-right"></span></a></li>
                <!-- <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Следующая &raquo;</a></li> -->
        {% endif %}
    </ul>
</nav>

