{% extends "base/base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block css %} {% static 'pages/about.css' %}{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Об авторе</h1>
    </div>
    <div class='student'>
        <div class='student__text-blocks'>
            <h3 class='student__title'>Константин</h3>
            <p class='student__subtitle'>Backend-разработчик, 37 лет</p>
            <p class='student__text'>Родился и вырос в городе Кирове. Поступил и закончил Московский Государственный
                Университет и с
                тех пор живу в Москве. Люблю программировать и изучать новые технологии.</p>
            <div class='student__links-block'>
                <a href='https://www.facebook.com/konstantin.bondar.7' target='_blank' rel='noreferrer'
                    className='student__link'>Facebook</a>
                <a href='https://github.com/TizJourney/' target='_blank' rel='noreferrer'
                    class='student__link'>Github</a>
            </div>
        </div>
        <img class="student__photo" src="{% static 'images/student-photo.jpg' %}" alt='Фото студента' />
    </div>
</main>
{% endblock %}